body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#06528D;
	font-weight: normal;
}

#wrapper #header h1 { font-size:25px; color:#008fd8; font-weight:normal}
#wrapper #header h2 {
	font-size:16px;
	color:#5c5c5c;
	font-weight:normal
}

#content, #content #solutions div ul li a { color:#5a5a5a}
	#content h2 { color:#008fd8}
	#content #solutions div h2 {
	font-size:21px;
}
	#content #formulario div #capa2 #message span { font-size:24px; color:#018fd7}
	#content #formulario div #capa2 #message p { font-size:18px; color:#06528d}
#formulario #capa2 h2 { font-size:25px; font-weight:normal; color:#06528d}
#content #formulario div #capa2 #message { text-align:center}

#content #formulario div form li.special label, .destacado { font-weight:bold}

#footer div {
	font-size:13px;
	color:#a8a8a8;
}

#solutions div ul li a:hover, #footer div .legal a:hover { text-decoration:none}

#footer div .legal a { color:#018fd7; font-weight:bold}
