@charset "UTF-8";
/*
Info
aside: background-color:#00b2f9;
*/

/*Generic*/
.ftr {
    float: right
}

.ftl {
    float: left
}

.both {
    clear: both
}

.clear:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0
}

.dnone {
    display: none
}

a {
    text-decoration: none;
}

a img {
    border: 0;
}

img a:hover {
    background: none;
}

span.boton {
    display: block;
    margin-bottom: 1em
}

/**/
aside, header, nav, footer, section, hgroup, article {
    display: block;
}

/*Layout*/
/*body { font-size:75%; font-family:'akkurat', Arial, Helvetica, sans-serif;}*/
body {
    font-size: 75%;
    font-family: 'akkurat', Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 98%;
}

/*aside { position:fixed; top:0; left:0; width:26%; background:#00b2f9 url(../images/f_aside.png) repeat-y 100% 0; height:100%;}*/
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 26%;
    background: #00b2f9;
    height: 100%;
}

aside header {
    margin: 0 4em 0 2em;
    padding-top: 3em;
    height: 5em;
    position: relative;
    z-index: 2;
    text-align: right;
}

aside nav {
    position: relative;
    z-index: 2;
}

aside footer {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 4em;
}

section {
    margin-left: 29%;
    background-color: #fff;
}

.colAB {
    width: 100%;
    margin: 0;
}

.colA {
    width: 50%;
    float: left;
}

.colB {
    width: 50%;
    float: right;
}

.colAB:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.linked {
    position: relative;
    width: 100%;
    margin: 0 0 3em 0; /* border-bottom:1px solid #d3e9f6;*/
    font: 1.5em 'akkurat_bold', Arial, Helvetica, sans-serif;
    color: #1c3f95;
}

.linked p {
    margin: 0 0 .7em 0;
    padding: 0 9.3em 0 0;
}

.linked a {
    position: absolute;
    right: 0;
    top: 15%;
    font-size: 1.2em !important;
}

/*Design*/
a {
    color: #00b2f9;
}

/*nav { padding-bottom:1em; background:url(../images/f_aside.png) repeat-y 100% 0; text-align:right;}*/
nav#block-enlacesprimarios {
    padding-bottom: 1em;
    text-align: right;
}

nav header {
}

nav header a:link {
    padding: 0;
}

#logo {
    display: block;
    float: right;
}

nav ul {
    padding: 0;
    padding-top: 4em;
}

nav li {
    list-style: none;
    margin: .8em 0;
}

/*	nav a:link,nav a:visited { display:inline-block; padding:0 2.3809em 0 .952em; height:1.238em; font-family:'akkurat', Arial, Helvetica, sans-serif; font-size:2.1em; color:#fff; text-shadow: 1px 1px 0px #105e88; line-height:.952em;}*/
nav#block-enlacesprimarios a:link, nav#block-enlacesprimarios a:visited {
    display: inline-block;
    padding: 0 2.3809em 0 .952em;
    height: 1.238em;
    font-family: 'akkurat', Arial, Helvetica, sans-serif;
    font-size: 2.1em;
    color: #fff;
    line-height: .952em;
}

nav#block-enlacesprimarios a:hover {
    color: #00b2f9;
    background: #ffffff;
}

/*nav a.sel { color:#00b2f9; background:#cdeffd url(../images/f_nav_sel.png) no-repeat 0 0; text-shadow: 1px 1px 0px #7dc2e7}*/
nav#block-enlacesprimarios a.sel {
    color: #00b2f9;
    background: #ffffff;
}

.selectnav {
    display: none;
}

footer {
    text-align: right;
    font-family: 'akkurat_bold';
}

footer ul {
    display: inline-block;
    padding: 0;
}

footer li {
    list-style: none;
    padding: 2em 1em 0 0;
    margin-bottom: 2em;
}

footer li li {
    background: none;
    padding: 0;
    margin: 0;
}

footer .map, footer .tlf, footer .mail {
    clear: right;
    float: right;
    padding-left: 2em;
    margin-bottom: 1em;
}

footer .map {
    background: url(../images/f_footer_map.png) no-repeat 0 0;
}

footer .tlf {
    background: url(../images/f_footer_tlf.png) no-repeat 0 0;
}

footer .mail {
    background: url(../images/f_footer_mail.png) no-repeat 0 0;
    margin: 0;
}

footer a:link, footer a:visited {
    font-size: 1.2em;
    color: #1c3f95;
}

footer a:hover {
    text-decoration: underline;
}

footer a.sel {
    color: #fff;
}

footer span {
    font-size: 1.2em;
    color: #ffffff;
}

section header {
    margin: 0 0 0.2em 0; /*border-bottom:1px solid #d3e9f6;*/
}

.lang_social {
    position: relative;
    float: left;
    width: 100%; /*border-bottom:1px solid #d3e9f6;*/
}

.lang {
    padding: .363em .727em;
    background-color: #97d7f7;
    color: #fff;
    text-transform: uppercase;
    font-style: 1.1em;
}

.social {
    float: right;
    padding: 0;
}

.social li {
    float: left;
    margin-left: 0;
    list-style-type: none;
}

.social span {
    display: block;
    margin: 1em .3em 0 0;
    font-size: 1.3em;
    color: #717171;
}

.social a {
    display: block;
    height: 3.3em;
    width: 3em;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    -webkit-transition: background-position 0.7s ease;
    -moz-transition: background-position 0.7s ease;
    transition: background-position 0.7s ease;
    text-indent: 999px;
    overflow: hidden;
}

.social a:hover {
    background-position: 50% 5px;
}

.tlf {
    background: url(../images/f_footer_tlf.png) no-repeat 0 0;
    clear: right;
    float: right;
    margin-top: 1.3em;
    padding-left: 2em;
}

.social .tlf {
    font-size: 1.6em;
    background: url(../images/i_telNuevo.png) no-repeat 0 0;
    margin-right: 2.5em;
    color: #2091d0;
    padding-bottom: .1em;
    margin-top: .7em;
    padding-left: 1.3em;
}

.mail {
    background: url(../images/f_footer_mail.png) no-repeat 0 0;
    clear: right;
    float: right;
    margin-top: 1.3em;
    padding-left: 2em;
}

.mail a {
    display: block;
    font-size: 1.3em;
    color: #1c3f95;
    text-indent: 0px;
    height: 1.6em;
}

.tlf span {
    display: block;
    font-size: 1.5em;
    text-indent: 0px;
    margin: 0;
    color: #1c3f95;
}

.twitter a {
    background-image: url(../images/i_twitter_new.gif);
}

.linkedin a {
    background-image: url(../images/i_linkedin_new.gif);
}

.rss a {
    background-image: url(../images/i_rss_new.gif);
}

.googleplus a {
    background-image: url(../images/i_googleplus_new.gif);
}

.slideshare a {
    background-image: url(../images/i_slideshare_new.gif);
}

section header hgroup {
    clear: left;
    padding: 0;
}

section header h1 {
    margin-bottom: .357em;
    padding: 0;
    font-size: 2.8em;
    color: #adafb2;
    font-family: 'tanta_bold', Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

section header h2 {
    font-size: 1.7em;
    color: #9b9b9b;
    margin-bottom: 1.5em;
}

section header h3 {
    margin-bottom: .357em;
    margin-top: .3em;
    padding: 0;
    font-size: 2.2em;
    color: #00b2f9;
    font-family: 'akkurat', Arial, Helvetica, sans-serif;
}

section header h4 {
    font-size: 1.6em;
    color: #515151; /*font-style:italic*/
    margin: 0;
}

.wysiwyg {
    font-size: 1.3em;
    color: #515151;
}

.destacado, .detalleC div {
    background: #adafb2;
    padding: 1.5em 1.3em;
    color: #ffffff !important;
}

.destacado p, .detalleC div p {
    background: #adafb2;
    color: #ffffff !important;
    font-family: 'akkurat';
}

.detalleC div {
    margin-bottom: 1em;
    padding: 2em 2em 1.5em;
}

.detalleC div p {
    padding: 0
}

/**** botones border-diagonal ****/

.btn {
    margin: 0;
    border: 0;
    font-family: 'tanta_bold', Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: #ffffff !important;
    line-height: 1.3em;
    background: #00b2f9;
    text-transform: lowercase;
}

.btn input {
    font-size: 1em;
    cursor: pointer
}

a.btn {
    font-size: 1.8em;
}

.btn_blue {
    color: #00b2fe !important;
}

a.btn:hover {
    text-decoration: underline;
}

/**** breadcrumb ****/

.breadcrumb {
    background: none;
    margin: 0 0 1.2em 0;
    text-align: left;
}

.breadcrumb ul {
    padding: 0 0 0 1em;
    background: url(../images/f_breadcrumb.gif) no-repeat 0 .35em !important;
    font: 1.2em 'akkurat', Arial, Helvetica, sans-serif;
    color: #929292;
}

.breadcrumb li {
    margin: 0 .3em 0 0;
    float: left;
}

.breadcrumb li a {
    font: 1em 'akkurat', Arial, Helvetica, sans-serif;
    color: #00b2f9;
    text-shadow: none;
    height: auto;
    padding: 0;
    line-height: normal;
}

.breadcrumb ul:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/**** paginador ****/

.pagination {
    clear: both;
    width: 100%;
    background-color: #f6f6f6;
    margin: 2em 0;
}

.pagination .prev, .pagination .next {
    display: block;
    font-family: 'tanta_bold', arial;
    border-radius: 2px 0px 2px 0px;
    color: #ffffff;
    font-size: 1.2em;
    padding: .25em 2.083em .333em;
    text-decoration: none;
    text-transform: lowercase;
}

.pagination .prev {
    float: left;
    padding-left: 3.333em;
    background-color: #00b2f9;
}

.pagination .next {
    float: right;
    padding-right: 3.333em;
    background-color: #00b2f9;
}

.pagination ul {
    padding: 0;
    text-align: center;
}

.pagination li {
    list-style-type: none;
    display: inline;
}

.pagination li a, .pagination .sel span {
    font-size: 1.2em;
    color: #1c3f95;
    padding: 0 .416em;
    line-height: 1.8em;
    font-family: 'akkurat';
}

.pagination .sel a, .pagination .sel span {
    color: #00b2f9;
}

/******pager de views******/

.item-list {
    clear: both;
    width: 100%;
    background-color: #cdeffd;
    margin: 2em 0;
}

.item-list .pager .pager-first, .item-list .pager .pager-previous, .item-list .pager .pager-last, .item-list .pager .pager-next {
    display: block;
    font-family: 'akkurat', arial;
    border-radius: 2px 0px 2px 0px;
    color: #1c3f95;
    font-size: 1.2em;
    padding: .25em 2.083em .333em;
    text-decoration: none;
}

.item-list .pager .pager-first, .item-list .pager .pager-previous {
    float: left;
    background: url(../images/f_prev_izq.png) no-repeat 0 100%, url(../images/f_prev_der.png) no-repeat 100% 0;
    padding-left: 3.333em;
    background-color: #7fd3f5;
}

.item-list .pager .pager-last, .item-list .pager .pager-next {
    float: right;
    background: url(../images/f_next_izq.png) no-repeat 0 100%, url(../images/f_next_der.png) no-repeat 100% 0;
    padding-right: 3.333em;
    background-color: #7fd3f5;
}

.item-list .pager {
    padding: 0;
    background-color: #FFFFFF;
    margin: 0;
}

.item-list li {
    list-style-type: none;
    display: inline;
}

.item-list .pager li .pager-item a, .item-list .pager li .pager-current .first, .item-list .pager li .pager-current .last {
    font-size: 1.2em;
    color: #1c3f95;
    padding: 0 .416em;
    line-height: 1.8em;
}

.item-list .pager .pager-current .first {
    color: #7cd1f3;
}

/**** aviso legal ****/

dl.avisoLegal {
    padding: 0 0 1.1em 0;
    font-size: 1.2em;
    line-height: 1.6em;
}

dl.avisoLegal dt {
    display: inline;
    float: left;
    margin: 0 .3em 0 0;
}

dl.avisoLegal dd {
    font-weight: normal;
}

dl.avisoLegal:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.wysiwyg h3 {
    font-size: 1em;
}

/*subtitulos aviso legal*/

/*** home **/

#home .colAB {
    width: 65%;
    margin-left: 29%;
    padding-bottom: 4em;
}

#home #sliderDots {
    clear: both;
    width: 100%;
    margin: 0;
    padding-top: 2em;
    border-bottom: 1px solid #d2e9f6;
}

#home #sliderDots ul li span {
    display: none;
    text-indent: -99999em;
}

#home h1 {
    font: 2.7em 'akkurat', Arial, Helvetica, sans-serif;
    color: #00b2f9;
    text-align: center;
}

#home h1 a {
    color: #00b2f9;
    text-decoration: none
}

#home h1 a:hover {
    text-decoration: underline
}

#home .colA {
    width: 54%;
}

#home .colA header {
    border: none;
    margin: 0;
}

#home .colA header h2 {
    margin: 0.3em 0 0.3em 0;
    font: 2.8em 'tanta_bold', Arial, Helvetica, sans-serif;
    color: #a67b08;
    text-transform: lowercase;
    line-height: 0.95em;
}

#home .colA header h2 a {
    color: #adafb2;
}

#home .colA header h3 {
    margin: 0 0 1em 0;
    font: 1.7em 'akkurat', Arial, Helvetica, sans-serif;
    color: #515151;
}

#home .colA dt {
    padding: 0 0 0 0;
    font: 1.5em 'akkurat_bold', Arial, Helvetica, sans-serif;
    color: #00b2f9;
}

#home .colA dt a {
    color: #00b2f9;
}

#home .colA dd {
    margin: 0 0 2.2em .9em;
    font: 1.4em 'akkurat', Arial, Helvetica, sans-serif;
    color: #515151;
}

#home .colB {
    float: right;
    width: 36%;
    padding: 3% 3% 0 3%;
    background: #f6f6f6;
}

#home .colB header {
    border: none;
    margin: 0;
}

#home .colB header h2 {
    margin: 0 0 .3em 0;
    font: 2.8em 'tanta_bold', Arial, Helvetica, sans-serif;
    color: #a67b08;
    text-transform: lowercase;
}

#home .colB header h2 a {
    color: #adafb2;
}

#home .colB header h3 {
    margin: 0 0 1em 0;
    font: 2.0em 'akkurat', Arial, Helvetica, sans-serif;
    color: #515151;
}

#home .colB dt {
    margin: 0 0 .3em 0;
    font: 1.6em 'akkurat', Arial, Helvetica, sans-serif;
    color: #00b2f9;
}

#home .colB dt a {
    color: #00b2f9;
}

#home .colB dd {
    margin: 0 0 .3em 0;
    font: 1.3em 'akkurat', Arial, Helvetica, sans-serif;
    color: #515151;
    line-height: 1.4em;
}

#home .colB form {
    position: relative;
    margin: 0;
    font: 1.2em 'akkurat', Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#home #modSus {
    margin: 0 -8% 1.5em;
    padding: 2em 3.5em;
    background: #adafb2;
    border-top: 1px solid #fff;
    display: none;
}

#home #modDrupalCamp {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}

#home #modDrupalCamp img {
    width: 90%;
}

#home .colB form fieldset {
    border: none;
}

#home .colB form legend {
    display: none;
}

#home .colB form p {
    margin-bottom: 0;
}

#home .colB form input {
    width: 15em;
    padding: .2em;
    margin: .6em 0 0 0;
    border: 1px solid #dedede;
    font: .9em 'akkurat', Arial, Helvetica, sans-serif;
    color: #767676;
}

#home .colB form form-submit {
    padding: .2em;
    margin: .6em 0 0 0;
    font: 1.9em 'tanta_bold', Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.gecko.linux #home .colB form input {
    background: none
}

#home .colB form .btn {
}

#home .colB form .btn div {
}

#home .colB form input {
}

#home .colB .pagination {
    background: #f6f6f6;
    margin: 0;
    padding: 0;
}

#home .colB .pagination ul {
    padding: 10px;
}

#home .colB .pagination li {
    list-style-type: none;
    display: block;
    text-align: left;
    background: url("../images/bullet01.gif") no-repeat scroll 0 0.9em transparent;
    padding: 0 0.5em 0 0.7em;
}

#home .colB .pagination a:hover {
    text-decoration: underline;
}

#home div.chk label, #modSus div.chk label {
    display: block;
    margin-top: 1em;
    vertical-align: middle
}

#home div.chk label a, #modSus div.chk label a, .contacto .colA .chk a {
    color: #1c3f95;
    text-decoration: underline
}

#home div.chk label a:hover, #modSus div.chk label a:hover, .contacto .colA .chk a:hover {
    text-decoration: none
}

#home div.chk label input {
    width: auto;
    border: none;
    margin: 0;
    vertical-align: middle
}

#home .accion {
    text-align: left;
}

#home .accion .btn {
    text-align: left;
}

/**** clientes ****/

.clientes {
    margin: 0;
    width: 100%;
}

.clientes h3 {
    margin-bottom: .5em;
    font: 2.2em 'akkurat', Arial, Helvetica, sans-serif;
    color: #00b2f9;
}

.clientes .colAB {
    background: url(../images/f_colAB_clientes.gif) repeat-y center 0;
}

.clientes .colA {
    width: 49%;
    min-height: 17.4em;
    padding: 2em 0 0 2em;
    background: #f6f6f6;
}

.clientes .colA p {
    margin-right: 2em;
    font-size: 1.3em;
    color: #515151;
}

.clientes .colA .link a {
    color: #1c3f95;
}

.clientes .colA img.floatl {
    margin-bottom: 2em;
}

.clientes .colB {
    width: 42%;
    min-height: 17.4em;
    padding: 2em 0 0 2em;
    background: #adafb2;
}

.clientes .colB h4 {
    margin-bottom: 0;
    font: 2.5em 'akkurat_bold', Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: normal;
}

.clientes .colB p {
    font-size: 1.3em;
    color: #fff;
}

.clientes .colB img.floatr {
    margin-bottom: 2em;
    margin-right: 2em;
}

.clientes .colAB:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clientes article {
    clear: both;
    padding: 2em 2em 2em 2em;
}

.clientes article p {
    font-size: 1.4em;
    color: #515151;
    line-height: 1.2em;
    padding-bottom: 0.5em;
}

.clientes article p a {
    color: #1c3f95;
}

.clientes article p a:hover {
    text-decoration: underline
}

.clientes article h4 {
    font: 2.5em 'akkurat_bold', Arial, Helvetica, sans-serif;
    color: #adafb2;
}

.clientes .archivoGrafico {
    background: #7ad0f1;
}

.archivoGrafico {
    display: inline;
    float: right;
    width: 47.1%;
    margin: -2em 0 3em 3em;
    padding: 2em 0 0 2em;
    border: 1px solid #fff;
    border-top: none;
    border-right: none;
}

.archivoGrafico ul {
    position: relative;
    list-style: none;
    margin: 0 0 1.5em -.7em;
    padding: 0;
}

.archivoGrafico ul li .preview {
    position: absolute;
    left: 40%;
    top: 12em;
    display: block;
    width: 7em;
    height: 9em;
    background: url(../images/f_preview.png) no-repeat center;
    text-indent: -9999em;
    display: none;
}

.archivoGrafico ul li a:hover .preview {
    display: block;
}

.archivoGrafico .tools {
    position: relative;
    z-index: 3;
}

.archivoGrafico .tools li {
    position: absolute;
}

.archivoGrafico .tools li.ant {
    left: 0;
    top: 12em;
}

.archivoGrafico .tools li.sig {
    right: 1.1em;
    top: 12em;
}

.clientes .archivoGrafico h4 {
    color: #fff;
}

.clientes article .detalleC ul {
    list-style: none;
    color: #515151;
}

.clientes article .detalleC li {
    padding: 0 .5em 0 .7em;
    background: url(../images/bullet01.gif) no-repeat 0 .6em;
}

.listClientes h3 {
    font-size: 1.7em;
    color: #515151;
    font-weight: normal;
    margin: 0;
    font-family: 'akkurat';
}

.listClientes article {
    margin: 2% 0 0 0;
    padding: 2.3%;
    background: #f6f6f6;
}

.listClientes article:after {
    clear: both;
    display: block;
    content: ".";
    visibility: hidden;
    height: 0
}

.listClientes article img.floatl {
    display: inline;
    margin: 0 3em 3em 0; /*width:25%;*/
}

.listClientes article h4 {
    font: 2.3em 'akkurat', Arial, Helvetica, sans-serif;
    color: #a67b08;
}

.listClientes article h4 a {
    color: #1c3f95;
}

.listClientes article h4 a:hover {
    text-decoration: underline
}

.listClientes article p {
    font-size: 1.6em;
    line-height: 1.1em;
    color: #525252;
    margin: 0.5em;
}

.listClientes article .link {
    padding: 0 2% 0 0;
    font-size: 1em;
    text-align: right;
}

.listClientes article:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

section.slider {
    width: 100%;
    margin: 0;
    padding-top: 60px;
    display: none
}

section.slider img {
    padding: 0 1.1em; /*background:url(../images/f_slider-left.png) no-repeat 0 0,url(../images/f_slider-right.png) no-repeat 100% 0;*/
}

/**** blog ****/

.blog {
}

.post {
    margin-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ede5ce;
}

.post header {
    margin: 0;
    padding: 0;
    border: 0;
}

.post h2 {
    font: 2.5em 'akkurat', Arial, Helvetica, sans-serif;
    color: #a67b08;
    margin-bottom: .8em;
}

.post h2 a {
    color: #a67b08
}

.post h2 a:hover {
    text-decoration: underline
}

.post header p {
    font-size: 1.4em;
    margin-bottom: 1.785em;
}

.post .extract {
    font-size: 1.4em;
    margin-bottom: 1.785em;
}

.post.newsletter {
    padding: 4% !important;
}

.post.newsletter p {
    color: #00b2f9;
    font-size: 1.7em;
}

.post.newsletter form {
    font: 1.2em Arial, Helvetica, sans-serif;
    color: #515151;
}

.post.newsletter form label {
    float: left;
    width: 49%;
    padding: 0 0 5% 0;
}

.post.newsletter form label span {
    display: block;
    padding: 0 0 3% 0;
}

.post.newsletter form label input {
    margin: 0 0 3% 0;
}

.post.newsletter .btn {
}

.post.newsletter .btn input {
    background: none;
    border: none;
    color: #2091D0;
    font-size: .95em;
}

.post.newsletter02 {
    padding: 4% !important;
}

.post.newsletter02 p {
    color: #00b2f9;
    font-size: 1.7em;
}

.post.newsletter02 form {
    font: 1.2em Arial, Helvetica, sans-serif;
    color: #515151;
}

.post.newsletter02 form label {
    display: inline;
    float: left;
    width: 50%;
    padding: 0 0 5% 0;
    margin: 0 10% 0 0;
}

.post.newsletter02 form label span {
    display: block;
    padding: 0 0 3% 0;
}

.post.newsletter02 form label input {
    width: 100%;
    margin: 0 0 3% 0;
}

.post.newsletter02 .btn {
    margin-top: 5%;
    background-image: url("../images/f_btn_blue.png");
}

.post.newsletter02 .btn input {
    background: none;
    border: none;
    color: #2091D0;
    font-size: .95em;
    cursor: pointer;
}

.post.newsletter02:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/***** quienes somos *********/

.quienesSomos {
    width: 96%;
    background: #f6f6f6;
    padding: 2% 2%;
}

.quienesSomos header h3 {
    margin-bottom: .3em;
    font: 2.3em 'akkurat_bold', Arial, Helvetica, sans-serif;
    color: #1c3f95;
}

.quienesSomos header h4 {
    margin-bottom: .5em;
    font: 2em 'akkurat', Arial, Helvetica, sans-serif;
    color: #00b2f9;
}

.quienesSomos header p {
    font-size: 1.4em;
    color: #515151;
    line-height: normal;
}

.quienesSomos header .btn {
    padding-top: .2em;
    padding-bottom: .2em;
    font-size: 1.2em;
}

.quienesSomos header .link {
    font: 1.5em 'akkurat_bold', Arial, Helvetica, sans-serif;
    color: #1c3f95;
}

.portadilla {
    width: 100%;
    background: #fff;
    padding: 0;
}

.portadilla h3 {
    margin-bottom: .5em;
    font: 1.9em 'akkurat_bold', Arial, Helvetica, sans-serif;
    color: #00b2f9;
}

.portadilla article h3 a {
    color: #a67b08;
    font-weight: normal
}

.portadilla h3 a:hover {
    text-decoration: underline
}

.portadilla article {
    clear: both;
    float: left;
    width: 44%;
    padding: 2% 2%;
    margin: 0 0 2.5em 0;
    background: #f6f6f6;
}

.portadilla article.last {
    clear: none;
    float: right;
}

.portadilla article p {
    font-size: 1.4em;
    color: #515151;
    line-height: 1.4em;
}

.portadilla article .btn {
    font-weight: normal;
    color: #fff;
}

.partners article {
    background: #f6f6f6;
}

.partners article img.floatr {
    width: 25%;
}

.portadilla article a {
    color: #1893d1;
}

.quienesSomos .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quienesSomos .list li {
    display: inline-block;
    width: 18.5%;
    min-height: 23em;
    margin: 0 1% 0 0;
    word-wrap: break-word;
    vertical-align: top
}

.quienesSomos .list li.first {
}

.quienesSomos .list li h4 {
    margin-bottom: .3em;
    font: 1.8em 'akkurat', Arial, Helvetica, sans-serif;
    color: #1c3f95;
}

.quienesSomos .list li h4 a {
    color: #1c3f95;
}

.quienesSomos .list li p {
    font-size: 1.3em;
    color: #515151;
    line-height: normal;
}

.quienesSomos .list li a {
    display: block;
}

.quienesSomos .list li img {
    width: 100%;
    margin: 0 0 .5em 0;
}

.quienesSomos .list:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.quienesSomos .list .last:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.quienesSomos article.wysiwyg p {
    font-size: 1.1em;
    line-height: normal;
}

.quienesSomos article.wysiwyg img.floatl {
    display: inline;
    margin: 0 2em 3em 0;
    width: 23.1%
}

/*		.quienesSomos article.wysiwyg div { float:left; width:70%;}
*/
.quienesSomos article.wysiwyg h5 {
    font: 1.8em 'akkurat', Arial, Helvetica, sans-serif;
    color: #a67b08;
}

.quienesSomos article.wysiwyg:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.quienesSomos .follow {
    padding: 1em 0 0 0;
    font-size: 1.1em;;
}

.quienesSomos .follow dt {
    float: left;
    padding: 0 .5em 1.5em 0;
    color: #848484;
}

.quienesSomos .follow dd {
    padding: 0 0 1.5em 0;
}

.quienesSomos .follow dd a {
    color: #00b2f9;
}

/*** soluciones ******/

.portadilla.soluciones article {
    background: #f6f6f6;
}

.soluciones article h3 {
    color: #00b2f9;
    text-shadow: none;
}

.soluciones article h3 a {
    color: #00b2f9;
}

.soluciones article h3 a:hover {
    text-decoration: underline
}

.soluciones article p {
    font-size: 1.5em;
}

.soluciones article.special {
    background: #f6f6f6;
}

.soluciones article.special p {
    color: #515151;
    font-size: 1.6em;
}

/*** contacto ****/

.msgError {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #B11818;
    background: #fff;
    color: #B11818 !important;
    font-size: 1.3em;
}

.msgError ul {
    margin: 1em 2em
}

.msgError li, .msgError span {
    color: #FF0000;
}

form .error, form .error label, form label.error *, label.error a {
    color: #B11818 !important;
}

div.error {
    background: none;
    border: none
}

.contacto .msgError {
    margin-right: 3%
}

.contacto {
    margin: 0;
    width: 100%;
}

.contacto p {
    margin-right: 2em;
    font-size: 1.4em;
    color: #515151;
}

.contacto .colAB {
    background-color: #adafb2;
}

.contacto .colA {
    width: 63%;
    min-height: 17.4em;
    padding: 2% 0 0 2%;
    background: #f6f6f6;
}

.contacto .colB {
    width: 33%;
    min-height: 17.4em;
    padding: 2% 0 0 2%;
    background: #adafb2;
}

.contacto .colB h4 {
    margin-bottom: .4em;
    font: 2.3em 'akkurat_bold', Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: normal;
}

.contacto .colB p {
    font-size: 1.3em;
    color: #fff;
}

.contacto .colB p a {
    display: block;
    margin-top: .5em;
    color: #1c3f95;
    text-decoration: underline;
}

.contacto .colB dl {
    margin: 0 0 2em 0;
}

.contacto .colB dt {
    margin: 0 0 1em 0;
    color: #cdeffd;
    font-size: 1.4em;
}

.contacto .colB dd {
    margin: 0 0 .3em 0;
    color: #1c3f95;
    font-size: 1.3em;
}

.contacto .colAB:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.contacto .colA form {
    padding: 0 4% 3em 0;
    font: 1.3em 'akkurat', Arial, Helvetica, sans-serif;
    color: #515151;
}

.contacto .colA form fieldset {
    border: none;
}

.contacto .colA form legend {
    display: none;
}

.contacto .colA form label {
    display: block;
    margin: 0 0 .3em 0;
    font: 1.1em 'akkurat', Arial, Helvetica, sans-serif;
    color: #515151;
}

.contacto .colA form input {
    padding: .3em .2em;
    margin: 0; /*border:none;*/
    font: 1.3em 'akkurat', Arial, Helvetica, sans-serif;
    color: #767676;
}

.contacto .colA form input,
.contacto .colA form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 1.5em;
}

.form-item {
    margin: 0;
}

.contacto .colA form textarea {
    min-height: 6em;
}

.contacto .colA form p {
    font-size: 1.1em;
    color: #515151;
}

.contacto .colA form .btn {
    float: right;
    width: auto;
}

.contacto .colA form .btn input {
    width: auto;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: 1.7em 'tanta_bold', Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-transform: lowercase;
}

.contacto .colB form {
    position: relative;
    margin: 0 0 0 -6%;
    padding: 2em 2em;
    background: #dff3fb;
    font: 1.4em 'akkurat', Arial, Helvetica, sans-serif;
    color: #515151;
}

.contacto .colB form fieldset {
    border: none;
}

.contacto .colB form legend {
    display: none;
}

.contacto .colB form label {
    display: none;
}

.contacto .colB form input {
    width: 94%;
    padding: .2em;
    margin: 0 0 .5em 0;
    font: 1.2em 'tanta_bold', Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.contacto .colB form p {
    font-size: 1.1em;
    color: #515151;
}

.contacto .colB form .btn {
    float: right;
    width: 12em;
}

.contacto .colB form .btn div {
    width: 96%;
    padding-right: 0;
}

.contacto .colB form .btn input {
    width: 79%;
    padding: .2em 0 .15em 0;
    margin: 0;
    border: none;
    background: #A67B08;
    color: #fff;
    font: 1.2em 'tanta_bold', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.gecko .contacto .colB form .btn input {
    padding: .1em 0 .15em 0;
}

.contacto .map {
    clear: both;
    background: #f2fafd;
    padding: 2em;
}

.contacto .colAB h5 {
    margin: 0 0 1em 0;
    font: 2.0em 'akkurat', Arial, Helvetica, sans-serif;
    color: #515151;
}

.contacto #maps {
    width: 100%;
}

.contacto .colB div.chk label {
    display: block;
    margin-top: 1em;
    vertical-align: middle
}

.contacto .colB div.chk label input {
    width: auto;
    border: none;
    vertical-align: middle
}

.contacto .back {
    display: block;
}

.contacto .back a {
    font-size: 1.2em;
    color: #00b2f9;
}

.contacto .back a:hover {
    text-decoration: underline
}

.contacto .colA .chk input {
    float: none;
    width: auto;
    max-width: none;
    min-width: inherit;
    margin: 0
}

/*** blogs ****/
.blogs {
    float: left;
    width: 64.02%;
    padding-bottom: 3em
}

.blogs .post {
    padding: 2%;
    margin: 0;
    border-bottom: 1px solid #fff
}

.blog1 {
    background-color: #f5f6e9
}

.blog2 {
    background-color: #f0ede4
}

.blog3 {
    background-color: #e4ddcb
}

.newsletter {
    background-color: #dff3fb;
}

.newsletter02 {
    background-color: #cdeffd;
}

.lateral {
    float: right;
    width: 35.96%;
}

.lateral #modTwitter {
    padding: 3em 2em 2em;
    background-color: #f3fafd
}

.lateral #modSus {
    padding: 3em 2em 2em;
    background-color: #dff3fb;
    border-top: 1px solid #fff
}

#modTwitter ul {
    margin: 1em 0 0;
    padding: 0;
    list-style: none
}

#modTwitter li {
    margin-bottom: 1em;
    border-bottom: 1px solid #c9e5f4
}

#modTwitter li.reset {
    border-bottom: none
}

#modTwitter span {
    color: #00b2f9;
    font-size: 1.4em
}

#modTwitter a {
    color: #a67b08
}

#modTwitter a:hover {
    text-decoration: underline
}

#modTwitter p {
    margin-top: 1em;
    font-size: 1.2em
}

#modTwitter p a {
    margin-right: 1em;
    padding-left: 1em;
    background: url(../images/bullet_twitter.gif) no-repeat 0 .3em;
    font-size: .9em
}

#modTwitter p a.time {
    padding-left: 0;
    background: none
}

#modSus p {
    font-size: 1.2em;
    color: #ffffff;
}

#modSus .text, #modSus .form-text {
    border: 1px solid #ffffff;
    padding: .3em 0
}

#modSus .submit {
    margin-top: 1em;
}

#modSus div.chk label {
    font-size: 1.2em
}

#home #modSus div.chk label {
    font-size: 1.1em
}

#modSus .btn span input {
}

.win.gecko #modSus .btn span input {
    padding: 1px 15px;
}

#sb-wrapper .close {
    position: absolute;
    right: 0;
    top: -84px;
    cursor: pointer
}

#sb-info {
    height: 84px;
    visibility: hidden;
}

.opera #sb-info {
    top: -12px
}

#sb-wrapper #sb-nav-close {
    background-image: url(../images/ico_close.png);
    background-position: 100% 0
}

#sb-nav {
    width: auto;
    height: 84px;
    padding: 0
}

#sb-info-inner {
    height: 84px
}

#sb-nav a {
    width: 72px;
    height: 84px;
    margin: 0;
    padding: 0;
}

#sb-title-inner {
    display: none
}

#sb-wrapper-inner {
    overflow: visible;
}

#sb-nav-previous,
#sb-nav-next {
    display: block;
    position: absolute;
    top: 45%;
    height: 87px;
    width: 72px;
    cursor: pointer;
}

#sb-nav-previous {
    background: url(../images/ico_prev.png) 0 0 no-repeat;
    left: -72px;
}

#sb-nav-next {
    background: url(../images/ico_next.png) 0 0 no-repeat;
    right: -72px;
}

/* 404 */
html.error404 {
    background-color: #ceeffe
}

.error404 section#main {
    background: none;
}

section.error404 {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 2em 0;
    background: none;
    font-family: 'akkurat', Arial, Helvetica, sans-serif;
    color: #243d56;
}

section.error404 h1 {
    font-size: 2.4em;
}

section.error404 img {
    max-width: 100%;
}

section.error404 p {
    font-size: 2em;
}

section.error404 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section.error404 li {
    margin: 2em;
    padding: 0;
    list-style-type: none;
}

section.error404 a {
    font-size: 2.5em;
    padding-right: .1em;
    color: #1c3f95;
    text-decoration: none;
}

section.error404 a:hover {
    text-decoration: underline;
}

#acepto-wrapper {
    display: inline
}

#mtgt_unnamed_0 {
    cursor: none !important;
}

.colA .status,
#modSus .status {
    font-size: 1.7em;
    color: #1c91d0 !important;
    background: #dff3fb;
    border: 0;
}

.fixedLinks {
    display: none;
}

#home #wrapper h1 {
    display: none;
}

.social .tlf {
    display: none;
}

.contacto section.colAB div.colA form#formContacto.webform-client-form div div#edit-actions.form-actions div.captcha div#edit-captcha-response-wrapper.form-item input#edit-captcha-response.form-text {
    margin-bottom: 0.5em;
    max-width: 100%;
    min-width: auto;
    width: auto;
}

.contacto section.colAB div.colA form#formContacto.webform-client-form div div#edit-actions.form-actions div.captcha div#edit-captcha-response-wrapper.form-item div.description {
    color: #515151;
    margin-top: 0px;
}

.contacto section.colAB div.colA form#formContacto.webform-client-form div div#edit-actions.form-actions div.captcha div#edit-captcha-response-wrapper.form-item input#edit-captcha-response.form-text {
    color: #B11818 !important;
}

#gallery-user {
    height: 350px;
    display: inline;
    float: right;
    width: 47.1%;
    margin: -2em 0 3em 3em;
    padding: 2em 0 0 2em;
    bacgrond: #adafb2;
}

.galleria-thumblink, .galleria-fullscreen {
    display: none;
}

.galleria-popout {
    right: 0px;
}

.galleria-play {
    left: 0px;
}
